.main-header{
	margin: 30px 120px;
}

.logo{
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}

.navigation{
	display: inline-block;
	float: right;
	margin-top: 15px;
}

.navigation-li{
	display: inline-block;
	vertical-align: middle;
    font-size: 25px;
    margin-right: 15px;
}

.navigation-a{
	color: #3D58A6;
}

.container{
	max-width: 1600px;
	padding: 30px 120px;
	background-color: #E6E6E6;	
}

.photo{
	width: 1350px;
}

.container-1{
	max-width: 1600px;
	width: 100%;
	padding: 50px 50px ;
	background-color: #363E97;
}

.text{
	color: white;
	font-size: 25px;
	margin-bottom: 40px;

}

.video{
	width: 500px; 
}

.video-1{
	height: 499px;
}

.box{
	width: 550px;
	display: inline-block;
}

.box-1{
	width: 550px;
	display: inline-block;
}

.container-2{
	max-width: 1600px;
	width: 100%;
	padding: 50px 50px;
	background-color: #BDCCD4;
}

.text-1{
	font-size: 25px;
	color:#3D58A6;
	margin-left: 30px;
}

.photo1{
	width: 300px;
	margin-right: 20px;
	margin-left: 30px;
	margin-top: 30px;
}

.photo-box{
	display: inline-block;
	height: 280px;
	width: 280px;
	margin-right: 80px;
}

.box-text{
	font-size: 20px;
	margin-left: 30px;
	background-color: #fff;
	border: 15px solid #fff;
}

