.main-header{
	margin: 30px 120px;
}

.logo{
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}

.navigation{
	display: inline-block;
	float: right;
	margin-top: 15px;
}

.navigation-li{
	display: inline-block;
	vertical-align: middle;
    font-size: 25px;
    margin-right: 15px;
}

.navigation-a{
	color: #3D58A6;
}